name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.KUSHAL }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~
          # Get or update the repo that contains deploy.sh
          git clone https://github.com/kushal-billur/workshop.git deploy || (cd deploy && git pull origin main)

          cd deploy/project
          chmod +x deploy.sh
          ./deploy.sh